@media (max-width: 425px) {
  .foodContainer {
    min-width: 12em;
    height: auto;
  }
}

.foodContainer {
  width: 15em;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  margin: 20px;
  font-family: Inter, sans-serif;
  padding: 20px;
}

.foodImg {
  width: 100%;
  height: auto;
}

.foodName {
  font-weight: 700;
}

.foodContent {
  text-align: center;
  font-weight: 700;
}

.itemButton {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #1fa08a;
  font-weight: bold;
  color: antiquewhite;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
