@import url("https://fonts.googleapis.com/css?family=Inter");
.nav {
  font-family: "Inter";
  color: #005b4b;
  font-size: 50px;
  font-weight: bold;
  background-color: #faebd7;
  padding: 0px 50px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.text {
  align-self: center;
}
